<div id="MyCenter" data-page="myCenter" class="page dgalaxy-mycenter">
    <!-- 导航区域 -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center dgalaxy-title">个人中心</div>
        </div>
    </div>

    <!-- 页面主体区域 -->
    <div class="page-content">
        <!-- 头部区域 -->
        <a href="#">
            <div class="width-full dgalaxy-mycenter-head">
                <div class="float-left dgalaxy-head-left">
                    <img class="dgalaxy-portrait" src="/Images/2.gif" />
                </div>
                <div class="float-left text-line-single dgalaxy-head-right">
                    昵称
                </div>
                <div class="clear"></div>
            </div>
        </a>

        <!-- 列表区域 -->
        <div class="list-block dgalaxy-list-mycenter">
            <ul>
                <li>
                    <a href="@Url.Action("Index","Contacts")" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">常用联系人</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Passenger")" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">常用旅客</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
