<div class="layui-form-item">
    <label class="layui-form-label">链接<span class="dgalaxy-required">*</span></label>
    <div class="layui-input-block">
        <input name="url" class="layui-input" type="text" lay-verify="required" placeholder="请输入链接地址" autocomplete="off">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">AppID<span class="dgalaxy-required">*</span></label>
    <div class="layui-input-block">
        <input name="appid" class="layui-input" type="text" lay-verify="required" placeholder="请输入小程序AppID" autocomplete="off">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">页面路径<span class="dgalaxy-required">*</span></label>
    <div class="layui-input-block">
        <input name="pagepath" class="layui-input" type="text" lay-verify="required" placeholder="请输入小程序页面路径" autocomplete="off">
    </div>
</div>
@Html.Partial("MenuSubmit")
