<div class="layui-form-item">
    <label class="layui-form-label">链接<span class="dgalaxy-required">*</span></label>
    <div class="layui-input-block">
        <input name="url" class="layui-input" type="text" lay-verify="required|url" placeholder="请输入链接地址" autocomplete="off">
    </div>
</div>
@Html.Partial("MenuSubmit")
