<div class="layui-form-item">
    <label class="layui-form-label">关键字<span class="dgalaxy-required">*</span></label>
    <div class="layui-input-block">
        <input name="key" class="layui-input" type="text" lay-verify="required" placeholder="请输入关键字" autocomplete="off">
    </div>
</div>
@Html.Partial("MenuSubmit")
