<div id="Discover" data-page="discover" class="page dgalaxy-discover">
    <!-- 导航区域 -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center dgalaxy-title">发现</div>
        </div>
    </div>

    <!-- 数据主体区域 -->
    <div class="page-content infinite-scroll" data-distance="100">
        <!-- 卡片列表 -->
        <div id="Content"></div>

        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>
    </div>
</div>
