<ul class="layui-nav layui-nav-tree">
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">
            <i class="layui-icon">&#xe705;</i>&nbsp;&nbsp;栏目管理
        </a>
        <dl class="layui-nav-child">
            <dd>
                <a id="MenuCategory" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index","Category")">
                    <i class="layui-icon">&#xe62e;</i>&nbsp;&nbsp;分类设置
                </a>
            </dd>
            <dd>
                <a id="MenuProduct" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index","Product")">
                    <i class="layui-icon">&#xe62d;</i>&nbsp;&nbsp;产品管理
                </a>
            </dd>
            <dd>
                <a id="MenuCommodity" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index","Commodity")">
                    <i class="layui-icon">&#xe62d;</i>&nbsp;&nbsp;商品管理
                </a>
            </dd>
            <dd>
                <a id="MenuOrder" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index","Order")">
                    <i class="layui-icon">&#xe62d;</i>&nbsp;&nbsp;订单管理
                </a>
            </dd>
        </dl>
    </li>
</ul>
