<ul class="layui-nav layui-nav-tree">
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">
            <i class="layui-icon">&#xe68e;</i>&nbsp;&nbsp;首页
        </a>
    </li>
</ul>
