<ul class="layui-nav layui-nav-tree">
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">
            <i class="layui-icon">&#xe613;</i>&nbsp;&nbsp;用户管理
        </a>
        <dl class="layui-nav-child">
            <dd>
                <a id="MenuUserAccount" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index", "UserAccount")">
                    <i class="layui-icon">&#xe612;</i>&nbsp;&nbsp;普通用户
                </a>
            </dd>
            <dd>
                <a id="MenuAccount" class="leftsidebar-active" href="javascript:;" data-url="@Url.Action("Index", "AdminAccount")">
                    <i class="layui-icon">&#xe612;</i>&nbsp;&nbsp;管理员用户
                </a>
            </dd>
        </dl>
    </li>
</ul>
