<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--Helper_Directory类默认根目录-->
    <add key="Helper_Directory_DefaultRootPath" value="D://" />
    <!--Helper_File类默认根目录-->
    <add key="Helper_File_DefaultFilePath" value="D://" />

    <!--BaseDAL类默认配置-->
    <!--默认Where条件-->
    <add key="BaseDALWhere" value="Enabled = 1" />
    <!--默认插入语句-->
    <add key="BaseDALInsert" value="insert into [{DGTable}]({DGColumns}) values({DGColumnValues});select @@identity;" />
    <!--默认批量删除语句-->
    <add key="BaseDALDelete" value="update [{DGTable}] set Enabled = 0 where {DGWhere}" />
    <!--默认单条删除语句-->
    <add key="BaseDALDeleteSingle" value="update [{DGTable}] set Enabled = 0 where {DGPrimaryKey = PrimaryKey} and {DGWhere}" />
    <!--默认批量更新语句-->
    <add key="BaseDALUpdate" value="update [{DGTable}] set {DGColumns = DGColumnValues} where {DGWhere}" />
    <!--默认单条更新语句-->
    <add key="BaseDALUpdateSingle" value="update [{DGTable}] set {DGColumns = DGColumnValues} where {DGPrimaryKey = PrimaryKey} and {DGWhere}" />
    <!--默认批量查询语句-->
    <add key="BaseDALSelect" value="select * from [{DGTable}] where {DGWhere} order by SortIndex,CreateDateTime"/>
    <!--默认分页查询语句-->
    <add key="BaseDALSelectPaging" value="select top {DGPageSize} * from(select *,row_number() over(order by SortIndex,CreateDateTime) as RowNumber from [{DGTable}] where {DGWhere}) as PagingDatas where PagingDatas.RowNumber > ({DGPageSize} * ({DGPageIndex}-1))" />
    <add key="BaseDALSelectPagingTotal" value="select count(*) from [{DGTable}] where {DGWhere}" />
    <!--默认单条记录查询语句-->
    <add key="BaseDALSelectSingle" value="select top 1 * from [{DGTable}] where {DGPrimaryKey = PrimaryKey} and {DGWhere}" />
    <!--默认单条记录查询语句（条件查询）-->
    <add key="BaseDALSelectSingleWhere" value="select top 1 * from [{DGTable}] where {DGWhere}" />

    <!--数据库缓存依赖表名-->
    <add key="SqlCacheDependencyTable" value="BasicInformation/Category/FriendLink/Region/Navigation/WeChatBasicInformation/WeChatMenu" />

    <!--WeChat基本信息-->
    <!--WeChatAPI接口链接-->
    <add key="APIUrl" value="https://api.weixin.qq.com"/>
    <!--WeChat开发者ID-->
    <add key="AppID" value="wx7596f8e8b3e38002"/>
    <!--WeChat开发者密钥-->
    <add key="AppSecret" value="0a573ce7c17ee46c1bab1150efb64c2d"/>
    <!--WeChatPay商户号-->
    <add key="PayMchID" value="1489893882"/>
    <!--WeChatPay支付密钥-->
    <add key="PayKey" value="BgijHONyuPQicsAraQICOhrKIlbMPJdP"/>

    <!-- 上传文件基本信息 -->
    <add key="UploadTempImagePath" value="/Upload/Temp/Images/"/>
  </appSettings>
  <connectionStrings>
    <!--默认数据库连接字符串-->
    <add name="DefaultConnectionString" connectionString="Data Source=LAPTOP-2O2LQQ6D;Initial Catalog=DarkGalaxy;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>

    <!--缓存设置-->
    <caching>
      <!--缓存数据库依赖设置-->
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="CacheData" connectionStringName="DefaultConnectionString" pollTime="1000" />
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
